<!DOCTYPE html>
<html>

  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>unusual unit converter</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="style.css" rel="stylesheet" type="text/css">

  </head>

  <body>
    <div class="container">
      <h1>unusual unit converter</h1>
         
      <form action="/units" method="post">
        <input id="type" list="types" name="type">
        <datalist id="types">

        </datalist>
        <input id="unit" list="units" name="unit">
        <datalist id="units">

        </datalist>
        <input id="uname" type="text" name="username" placeholder="amount">
        <input type="submit" value="convert">
      </form>
      
        <input  name="addType">
        <input  name="addUnit">

        <input id="magnitude" type="text" name="magnitude" placeholder="magnitude">
        <input id="add" type="submit" value="add">

    </div>



    <script>


      $(document).ready(function(){  //as soon as the page loads


        $.get("/addTypesAtInit", function (data, status){  // request types from the server

          for(let i=0; i<data.length; i++){
            //console.log( data[i] )
            let item = data[i].unitType
            $("#types").append('<option value="'+item+'">');  // and add them as options in the list box thingy
          }

          
         })
      })



      $("#type").change(function(){  //as soon as user chooses a new type

        let t = $("#type").val()

        $("#units").empty();   // empty the current list of units

        $.post("/addUnits", {type:t}, function (data, status){  // request units from the server          

          for(let i=0; i<data.length; i++){  // add the newly received ones
            //console.log( data[i] )
            
            let item = data[i].description
            $("#units").append('<option value="'+item+'">');  // and add them as options in the list box thingy
          }
          
          console.log(data)
          
          
        })
      
      })


      
      $("#add").click(function(){
         $.get("/addUnits", function (data, status){

          for(let i=0; i<data.length; i++){
            console.log( data[i] )
            $("#types").append('<option value="'+data[i]+'">');
          }
          
         })
      })

      


    </script>


  </body>

</html>